<template>

  <v-img
    v-if="isReady"
    :src="img"
    class="d-inline-flex"
    :alt='`Scryfall Tooltip for ${name}`'
    :width="$width"
    :height="$height"
  />
  <div v-else-if="isInvisible" />
  <v-flex v-else
    :style="`height:${$height}px!important; width:${$width}px;!important;`"
    xs12
    d-flex
    justify-center
    align-center align-content-center
    justify-space-around
  >
    <v-progress-circular
      indeterminate
      color="purple darken-4"
    />
  </v-flex>

</template>

<script>
import scryios from 'scryios'
const isObjectEmpty = (obj) => Object.keys(obj).length === 0 && obj.constructor === Object

import {VImg, VFlex, VProgressCircular} from 'vuetify/lib'

export default {
  name: 'CardImage',
  components: {
    VImg, VFlex, VProgressCircular
  },
  props: {
    module: {
      type: String,
      default: 'vscry'
    },
    fromStore: {
      type: Boolean,
      default: true
    },
    width: {
      type: [String, Number],
      default: 168
    },
    height: {
      type: [String, Number],
      default: 234
    },
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    name: {
      type: String,
      default: ''
    },
    size: {
      type: [String, Number],
      default: undefined
    },
    card: {
      type: Object,
      default: ()=>({})
    },
    format: {
      type: String,
      default: 'normal'
    }
  },
  mounted() {
    if (!this.fromStore) return
    let card = this.$store.getters[`${this.module}/card`](this.$name)
    if (card === undefined ) {
      if (!this.blankName) {
        this.$store.dispatch(`${this.module}/fetchCardByName`, {name:this.$name})
      }
    }
  },
  watch: {
    $name (newCardName, oldCardName) {
      if (!newCardName) return
      if (this.card !== undefined) return
      if (this.fromStore) {
        if (!this.blankName) {
          this.$store.dispatch(`${this.module}/fetchCardByName`, {name:newCardName})
        }
      }
    }
  },
  computed: {
    $name() {
      if (typeof this.name === 'string') {
        return this.name.toLowerCase().trim()
      }
      return this.name
    },
    $card() {
      if (!this.fromStore) return this.card
      let card = this.$store.getters[`${this.module}/card`](this.$name)
      if (card === undefined || isObjectEmpty(card)) {
        if (!this.blankName) {
          this.$store.dispatch(`${this.module}/fetchCardByName`, {name:this.$name}).then((card)=>{
          })
        }
      }
      return card
    },
    blankName() {
      return (this.$name === undefined || this.$name === '')
    },
    isReady() {
      return (this.img !== undefined)
    },
    isInvisible() {
      return (this.$name === undefined || this.$name === '')
    },
    imgs() {
      return this.$card ? this.$card.image_uris : {}
    },
    img() {
      if (this.imgs === undefined) return
      return this.imgs[this.format]
    },
    $width() {
      if (this.size === 'auto') return 'auto'
      if (this.size === undefined) return this.width
      return this.size
    },
    $height() {
      if (this.size === 'auto') return 'auto'
      if (this.size === undefined) return this.height
      return this.width / this.imgAspectRatio
    },
    imgAspectRatio() {
      let format = scryios.imageFormats[this.format]
      if (format.aspectRatio[0] === 'auto') return 1
      return format.aspectRatio[0] / format.aspectRatio[1]
    },
  },
}

</script>

<style>
</style>
