<template>
  <a
    target="_blank"
    :href="href"
    @mousemove="mousemove($event)"
    @mouseleave="mouseleave($event)"
  >
    <slot>
    </slot>
  </a>
</template>

<script>
import scryios from 'scryios'

export default {
  props: {
    module: {
      type: String,
      default: 'vscry',
    },
    offsetX: {
      type: Number,
      default: 20,
    },
    offsetY: {
      type: Number,
      default: 20,
    }
  },
  async mounted() {
    let slots = this.$slots.default

    if (!(Array.isArray(slots) && slots.length == 1)) {
      console.error('No Slots')
    }
    let first = slots[0]
    let text = first.text.toLowerCase()

    if (text == undefined) {
      console.error('No Text')
    }

    let card = await this.getCard(text)
    this.card = card
    this.name = text.trim()
  },
  data: () => ({
    card: null,
    name: null
  }),
  methods: {
    mouseleave(event) {
      this.$emit('mousemove', event, this.card)
      this.$store.commit(`${this.module}/setTooltip`, {})
    },
    mousemove(event) {
      this.$emit('mousemove', event, this.card)
      this.$store.commit(`${this.module}/setTooltip`, {
        name: this.name,
        format: 'normal',
        x: event.clientX + this.offsetX,
        y: event.clientY + this.offsetY,
        size: 168,
        card: this.card
      })
    },
    async getCard(text) {
      let res = await this.$store.dispatch(`${this.module}/fetchCardByName`, {name:text})
      this.card = res
      return res
    }
  },
  computed: {
    href() {
      let card = this.$store.getters[`${this.module}/card`](this.name)
      if (card && card.scryfall_uri) return card.scryfall_uri
      if (this.card === null) return '_blank'
      if (!this.card) return '_blank'
      if (this.card && this.card.scryfall_uri) return this.card.scryfall_uri
      return '_blank'
    }
  }
}
</script>

<style>

</style>
