<template>
  <CardImage v-bind="bind" :style="style"/>
</template>

<script>
import scryios from 'scryios'

import CardImage from './CardImage.vue'
export default {
  name: 'CardTooltip',
  components: {
    CardImage
  },
  props: {
    module: {
      type: String,
      default: 'vscry'
    },
    width: {
      type: Number,
      default: 168
    },
    height: {
      type: Number,
      default: 234
    },
    x: {
      type: Number,
      default: 0
    },
    y: {
      type: Number,
      default: 0
    },
    fromStore: {
      type: Boolean,
      default: true
    },
    name: {
      type: String,
      default: ''
    },
    card: {
      type: Object,
      default: ()=>({})
    },
    format: {
      type: String,
      default: 'normal'
    }
  },
  computed: {
    tooltip() {
      if (!this.fromStore) return {}
      return this.$store.state[this.module].tooltip
    },
    $name() {
      if (!this.fromStore) return this.name
      return this.tooltip.name
    },
    blankName() {
      return (this.$name === undefined || this.$name === '')
    },
    $format() {
      if (!this.fromStore) return this.format
      if (this.tooltip.format === undefined) return this.format
      return this.tooltip.format
    },
    $x() {
      if (!this.fromStore) return this.x
      return this.tooltip.x
    },
    $y() {
      if (!this.fromStore) return this.y
      return this.tooltip.y
    },
    $size() {
      if (!this.fromStore) return this.size
      return this.tooltip.size
    },
    $card() {
      if (!this.fromStore) return this.card
      let card = this.$store.getters[`${this.module}/card`](this.$name)
      if (card === undefined) {
        if (!this.blankName) {
          this.$store.dispatch(`${this.module}/fetchCardByName`, {name:this.$name})
        }
      }
      return card
    },
    imgs() {
      return this.$card ? this.$card.image_uris : {}
    },
    img() {
      return this.imgs[this.$format]
    },
    $width() {
      if (this.$size === 'auto') return 'auto'
      if (this.$size === undefined) return this.width
      return this.$size
    },
    $height() {
      if (this.$size === 'auto') return 'auto'
      if (this.$size === undefined) return this.height
      return this.$width / this.imgAspectRatio
    },
    imgAspectRatio() {
      let format = scryios.imageFormats[this.$format]
      if (format.aspectRatio[0] === 'auto') return 1
      return format.aspectRatio[0] / format.aspectRatio[1]
    },
    bind() {
      return {
        width: this.$width,
        height: this.$height,
        x: this.$x,
        y: this.$y,
        name: this.$name,
        card: this.$card,
        format: this.$format,
      }
    },
    style() {
      return {
        position:'fixed',
        left: `${this.$x}px`,
        top: `${this.$y}px`,
        zIndex: 100000

      }
    },
  },
  watch: {
    $name (newCardName, oldCardName) {
      if (!newCardName) return
      if (this.card !== undefined) return
      if (this.fromStore) {
        if (!this.blankName) {
          this.$store.dispatch(`${this.module}/fetchCardByName`, {name:newCardName})
        }
      }
    }
  },
}

</script>

<style>
</style>
