<template>
  <h3 class="subheading">
    <Pip v-for="pip in mana" :key="pip.id" :symbol="pip"/>
  </h3>
</template>

<script>
// import Pip from '@/components/Pip.vue'
import Pip from './Pip.vue'
import scryios from 'scryios'

export default {
  name: 'ManaCost',
  props: {
    cost: {
      type: String,
      default: '{0}'
    }
  },
  components: {
    Pip
  },
  computed: {
    mana() {
      return scryios.parseManaCost(this.cost)
    },
  }

}
</script>

<style>
</style>
