<template>
  <abbr
    :class="`card-symbol card-symbol-${symbolClass}`"
    :title="title"
  >
    {{symbol}}
  </abbr>
</template>

<script>
// import symbology from '../assets/symbology.js'
export default {
  name: 'Pip',
  props: {
    symbol: {
      type: String,
      default: '{0}'
    }
  },
  data: () => ({
    // symbology
  }),
  computed: {
    symbolClass() {
      let c = this.symbol.replace('{','').replace('}','').replace('/','')
      if (c === '½') return 'HALF'
      if (c === '∞') return 'INFINITY'
      return c
    },
    title() {
    //   for (let i = 0; i < this.symbology.length; i++) {
    //     let s = this.symbology[i]
    //     if (s.symbol == this.symbol || s.loose_variant == this.symbol || s.loose_variant == this.symbolClass) {
    //       return s.english
    //     }
    //     return ''
    //   }
      return `a ${this.symbol} pip`
    },
  }
}
</script>

<style>
</style>
