<template>
  <v-flex xs12>
    <v-card color="purple darken-4" width="100%" v-bind="vCardOptions">
      <v-card-text>
        <!-- <v-text-field
          dark
          v-model="query"
          label="ScryFall API"
          color="white"
          :loading="isFetching"
          hide-no-data
          hide-selected
          placeholder="Search for Magic Cards"
          :search-input.sync="search"
          @keypress.native.enter="keydown"
          append-outer-icon="place"
          @click:append-outer="keydown"
        >
          <template v-slot:append-outer>
            <v-img
              src="/scryfall-logo.svg"
              width="30"
              height="30"
              @click="keydown"
            />
          </template>
        </v-text-field> -->
        <v-autocomplete
          dark
          v-model="query"
          :items="queried"
          label="ScryFall API"
          color="white"
          :loading="isFetching"
          hide-no-data
          hide-selected
          placeholder="Search for Magic Cards"
          :search-input.sync="search"
          @keypress.native.enter="keydown"
        >
          <template v-slot:append-outer>
            <v-tooltip bottom>
              <template v-slot:activator="{ on }">
                <Logo
                  width="30"
                  height="30"
                  @click.native="keydown"
                />
                <!-- <v-img
                  src="/scryfall-logo.svg"
                  width="30"
                  height="30"
                  @click="keydown"
                /> -->
              </template>
              <span>Search</span>
            </v-tooltip>
          </template>
        </v-autocomplete>
      </v-card-text>
      <v-snackbar
        v-model="snackbar"
        :timeout="1000"
        top
        color="purple darken-4"
      >
        <Logo
          width="30"
          height="30"
        />
        <!-- <v-img
          src="/scryfall-logo.svg"
          width="30"
          max-width="30"
          min-width="30"
          height="30"
          max-height="30"
          min-height="30"
          @click="keydown"
        /> -->
        {{ snackText }}

      </v-snackbar>
    </v-card>
  </v-flex>
</template>

<script>
import Logo from './Logo.vue'
import {
  VFlex, VCard, VSnackbar, VCardText,
  VTooltip, VAutocomplete
} from 'vuetify/lib'

export default {
  name: 'ScryfallQuery',
  components: {
    Logo,
    VFlex, VCard, VSnackbar, VCardText,
    VTooltip, VAutocomplete
  },
  props: {
    module: {
      type: String,
      default: 'vscry'
    },
    vCardOptions: {
      type: Object,
      default: ()=>({})
    }
  },
  mounted() {
  },
  methods: {
    clear() {
      this.query = null
      this.search = null
    },
    async fetchQueriedCards(query){
      this.$emit('fetchQueriedCards:called', query)
      if (!query) {
        this.$emit('fetchQueriedCards:error', query)
        return
      }
      this.$emit('fetchQueriedCards:dispatch', query)
      this.$store.dispatch(`${this.module}/fetchCardsByQuery`, {query})
    },
    keydown() {
      this.$emit('keydown', this.search)
      this.$emit('update:called', this.search)
      if (this.queried.indexOf(this.search) < 0) {
        this.queried.push(this.search)
        this.query = this.search
        this.$emit('update:new', this.query)
      }
      if (this.cardNames === undefined) {
        this.$emit('update:fetchNeeded', this.query)
        this.fetchQueriedCards(this.query)
      }
    }
  },
  data: () => ({
    query: null,
    search: null,
    queried: [],
    snackbar: false,
    snackText: ''
  }),
  computed: {
    cardNames() {
      return this.$store.state[this.module].queries[this.query]
    },
    isFetching() {
      if (this.queried.length === 0) return false
      if (this.cardNames === undefined) return true
      return false
    },
  },
  watch: {
    cardNames(newCards, oldCards) {
      if (newCards === undefined) return
      this.snackbar = true
      this.snackText = `Scryfall found ${newCards.length} cards`
      this.$emit('results', {query: this.query, cardNames: newCards})
    },
    async search (queryString) {
      // // Items have already been loaded
      // if (this.cardNames.length > 0) return
      //
      // // Items have already been requested
      // if (this.isFetching) return
      //
      // // Call scryfall
      // await this.$store.dispatch('fetchCardNames')
      //
    }
  }
}

</script>

<style>
</style>
