<template>
  <v-flex xs12>
    <v-card color="purple darken-4" width="100%" v-bind="vCardOptions">
      <v-card-text>
        <v-autocomplete
          dark
          v-model="autocompletedCard"
          :items="cardNames"
          label="ScryFall API"
          color="white"
          :loading="isFetching"
          hide-no-data
          hide-selected
          placeholder="Search for Magic Cards"
          :search-input.sync="search"
          @change="fetchAutocompletedCard"
          @keypress.native.enter="keydown"
        />
      </v-card-text>
      <v-img v-if="showImage" :src="img"/>
    </v-card>
  </v-flex>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import {
  VFlex, VCard, VImg, VCardText,
} from 'vuetify/lib'

export default {
  name: 'ScryfallSearch',
  components: {
    VFlex, VCard, VImg, VCardText,
  },
  props: {
    showImage: {
      type: Boolean,
      default: false
    },
    module: {
      type: String,
      default: 'vscry'
    },
    vCardOptions: {
      type: Object,
      default: ()=>({})
    }
  },
  mounted() {
    this.$store.dispatch(`${this.module}/fetchCatalog`, {catalog:'card-names'})
  },
  methods: {
    clear() {
      this.autocompletedCard = null
      this.search = null
    },
    async fetchAutocompletedCard (name) {
      if (!name) return
      this.$emit('change', name)
      this.$store.dispatch(`${this.module}/fetchCardByName`, {name})

    },
    keydown() {
      if (this.autocompletedCard) {
        this.$emit('selected', this.autocompletedCard)
      }
    }
  },
  data: () => ({
    autocompletedCard: null,
    search: null,
  }),
  computed: {
    cardNames() {
      return this.$store.state[this.module].catalogs['card-names']
    },
    card() {
      return this.$store.state[this.module].cards[this.autocompletedCard]
    },
    isFetching() {
      if (this.cardNames === undefined) return true
      if (this.autocompletedCard === null) return false
      if (this.card === undefined) return true
      return false
    },
    img() {
      return this.card ? this.card.image_uris.normal : ''
    }
  },
  watch: {
    async search (queryString) {
      // // Items have already been loaded
      // if (this.cardNames.length > 0) return
      //
      // // Items have already been requested
      // if (this.isFetching) return
      //
      // // Call scryfall
      // await this.$store.dispatch('fetchCardNames')
      //
    }
  }
}

</script>

<style>
</style>
