<template>
  <v-layout row wrap justify-center align-center >
    <v-flex xs12 sm8 md6 >
      <!-- <Pip v-for="symbol in pips" :key="symbol.id" :symbol="symbol"/> -->
      <!-- <ManaCost :cost="'{3}{W}'"/> -->
      <!-- <ScryfallSearch /> -->
      <ScryfallQuery />
      <!-- <CardTooltip /> -->
      <!-- <Logo /> -->
    </v-flex>
    <v-flex xs12>
      <CardLink>
        The Omenkeel
      </CardLink>
      <CardLink>
        The Omenpeel
      </CardLink>
      <v-flex xs12>
      <!-- <v-flex xs3> -->
        <CardImage :name="`Cosima, God of the Voyage`" class="d-inline-flex"/>
      <!-- </v-flex> -->
        <!-- <v-flex xs3> -->
      <CardImage :name="`The Omenkeel`" />
        <!-- </v-flex> -->
      </v-flex>
    </v-flex>
    <CardTooltip/>

  </v-layout>
</template>

<script>
import Pip from '@/components/Pip'
import ManaCost from '@/components/ManaCost'
import ScryfallSearch from '@/components/ScryfallSearch'
import ScryfallQuery from '@/components/ScryfallQuery'
import CardTooltip from '@/components/CardTooltip.vue'
import Logo from '@/components/Logo.vue'
import symbology from '@/assets/symbology.json'
import CardLink from '@/components/CardLink.vue'
import CardImage from '@/components/CardImage.vue'
export default {
  components: {
    Pip, ManaCost, ScryfallSearch,
    ScryfallQuery, CardTooltip,
    Logo, CardLink, CardImage
  },
  data:()=>({
    pips: symbology.map(e=>e.symbol)
  })


}
</script>
